#heroBanner{
    background-size: 100%;
    background: url(https://uhdwallpapers.org/uploads/converted/19/07/19/the-abstract-wallpaper-from-oneplus-6t-1920x1080_944948-mm-90.jpg);
    text-align: center;
    color: white;
    padding: 100px;
}
